<nav class="navbar navbar-inverse navbar-fixed-top " role="navigation" data-offset-top="60">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to monitoring_index_path, class: 'navbar-brand' do %>
        <div class="icon"><span class="fa fa-desktop"></span></div>
        <div class="title">GatePass Monitoring
          <span class="text-muted"><%= " | Students" if current_page? students_path %></span>
          <span class="text-muted"><%= " | Students" if current_page? authenticated_root_path %></span>
          <span class="text-muted"><%= " | Employees" if current_page? employees_path %></span>
          <span class="text-muted"><%= " | Settings" if current_page? settings_path %></span>
          <span class="text-muted"><%= " | Reports" if current_page? reports_path %></span>
        </div>
      <% end %>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to students_path, title: 'Students' do %>
            <span class="fa-stack">
              <i class="fa fa-users fa-lg"></i>
            </span>
          <% end %>
        </li>
        <li>
          <%= link_to employees_path, title: 'Employees' do %>
            <span class="fa-stack">
              <i class="fa fa-user fa-lg"></i>
            </span>
          <% end %>
        </li>
        <% if current_user.admin? || current_user.developer? %>
          <li>
            <%= link_to settings_path, title: 'Settings' do %>
              <span class="fa-stack">
                <i class="fa fa-gears fa-lg"></i>
              </span>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to help_desk_index_path, title: 'Help', target: "_blank" do %>
            <span class="fa-stack">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-question fa-stack-1x"></i>
            </span>
          <% end %>
        </li>
        <li class="dropdown" style="padding: 0;border-left: 1px solid #484848;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <% if current_user.profile_photo.present? %>
              <%=image_tag(current_user.profile_photo.avatar.url, width: 30, height: 30, class: 'img-circle') %>
            <% else %>
              <%=image_tag("default.png", width: 30, height: 30, class: 'img-circle') %>
            <% end %>
            &nbsp<strong><%= current_user.name.titleize %></strong>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu animated fadeInDown">
            <li>
              <ul class="list-group notifications">
                <%=link_to info_user_path(current_user) do %>
                  <li class="list-group-item"><i class="fa fa-user"></i> Profile</li>
                <% end %>
                <%=link_to destroy_user_session_path, method: :delete do %>
                  <li class="list-group-item"><i class="fa fa-power-off"></i> Logout</li>
                <% end %>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>