<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="mainModalLabel">
    Student Information - Update Form
  </h4>
</div>
<%=simple_form_for @student, html: { autocomplete: "off", data: { modal: true } }, remote: request.xhr? do |f| %>
  <div class="modal-body">
    <%=f.error_notification %>
    <%= render "students/shared/personal_details_inputs", f: f %>
    <%= render "students/shared/card_uid_inputs", f: f %>
  </div>
  <div class="modal-footer">
    <%=f.submit 'Save', class: "btn btn-primary pull-right" %>
  </div>
<% end %>
