<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h4>Student Information Form</h4>
      </div>
    </div>
    <div class="card-body">
      <%=simple_form_for @student, html: { autocomplete: 'off' } do |f| %>
        <%=f.error_notification %>
        <%= f.input :role, input_html: { value: User.roles.keys.to_a.first }, as: :hidden %>
        <%= f.input :status, input_html: { value: User.statuses.keys.to_a.first }, as: :hidden %>
        <div class="row">
          <div class="col-md-7">
            <%= render "students/shared/personal_details_inputs", f: f %>
            <%= render "students/shared/address_details_inputs", f: f %>
            <%= render "students/shared/rfid_card_inputs", f: f %>
            <div class="row">
              <div class="col-md-12">
                <hr>
                <%= link_to "Cancel", @student.new_record? ? students_path : info_student_path(@student), class: 'btn btn-default' %>
                <%=f.submit 'Save', class: "btn btn-primary pull-right" %>
              </div>
            </div>
          </div>
          <div class="col-md-5">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
