<%=simple_form_for @course, remote: request.xhr?, html: { autocomplete: "off", data: { modal: true } }, url: @course.persisted? ? configs_course_path : configs_courses_path do |f| %>
	<div class="modal-body">
	  <%= f.error_notification %>
	  <%= f.input :name %>
	  <%= f.input :abbreviation %>
	</div>
	<div class="modal-footer">
	  <%=f.submit @course.persisted? ? "Update" : "Save", class: "btn btn-primary" %>
	</div>
<% end %>