
<% if @user.present? %>
  <meta http-equiv="refresh" content="<%= @display_time.time %>;url=<%= monitoring_index_path %>" />
<% end %>
<div class="send-to-back">
	<%=form_tag monitoring_index_path, autocomplete: 'off', method: :get do %>
	  <div class="input-group stylish-input-group">
	    <%= number_field_tag "tag_uid", params[:tag_uid], class: 'unseen form-control', autofocus: true, autocomplete: 'off' %>
	    <span class="input-group-btn">
	      <%= button_tag(type: 'submit', name: nil, class: " unseen btn btn-flat") do %>
	        <i class="fa fa-search"></i>
	      <% end %>
	    </span>
	  </div>
	<% end %>
</div>

<div class="row">
  <br>
  <div class="col-md-5">
      <% if @user.blank? %>
        <%=image_tag("unknown-user.gif", class: "img-rounded img-responsive img-monitoring") %>
        <!-- <div class="monitoring-name-overlay">
          <h1 class="text-center text-red">
            No record found!
          </h1>
        </div> -->
      <% else %>
        <% if !@user.record_status.nil? %>
          <!-- <div class="monitoring-status-overlay">
            <h1 class="text-center text-red">
              <%#= @user.record_status %>
            </h1>
          </div> -->
        <% end %>
        <% if @user.profile_photo.blank? %> 
          <%=image_tag("default.png", class: "img-rounded img-responsive img-monitoring", ) %>
        <% else %>
          <%= image_tag @user.profile_photo.avatar.url, class: "img-rounded img-responsive img-monitoring"%>
        <% end %>
        <!-- <div class="monitoring-name-overlay">
          <h1 class="text-center text-white">
            <b><%#=@user.full_name.try(:upcase)%></b>
          </h1>
        </div> -->
      <% end %>
  </div>
  <div class="col-md-7">
    <br>
    <div class="card-glass">
      <% if @user.present? %>
        <div class="card-header">
          <h3 class="card-title bottom-margin-zero text-red">
            <b><%= @user.record_status.nil? ? '' : @user.record_status %></b>
          </h3>
        </div>
        <hr class="zero-margin">
      <% end %>
      <div class="card-body">
        <% if @user.present? %>
          <table class="">
            <tr>
              <td style="width:180px"><h3 class="card-title text-white">ID Number:</h3></td>
              <td><h3 class="card-title text-white"><b><%= @user.try(:id_number) || "N/A" %></b></h3></td>
            </tr>
            <tr>
              <td style="width:180px"><h3 class="card-title text-white">Name:</h3></td>
              <td><h3 class="card-title text-white"><b><%= @user.full_name || "N/A" %></b></h3></td>
            </tr>
            <tr>
              <td style="width:180px"><h3 class="card-title text-white">Course/Yr.:</h3></td>
              <td><h3 class="card-title text-white"><b><%= @user.course_and_year || "N/A" %></b></h3></td>
            </tr>
            <tr>
              <td style="width:180px"><h3 class="card-title text-white">Date of Birth:</h3></td>
              <td><h3 class="card-title text-white"><b><%= @user.birthdate.strftime("%B %e, %Y") || "N/A" %></b></h3></td>
            </tr>
            <tr>
              <td style="width:180px"><h3 class="card-title text-white">Address:</h3></td>
              <td><h3 class="card-title text-white"><b><%= @user.try(:address_details) || "N/A" %></b></h3></td>
            </tr>
          </table>
        <% else %>
          <% if @tag_uid.blank? %>
            <h1 class="text-white">
              Monitor Mode
            </h1>
            <h4 class="text-white">
              Scan Student ID Card for identification.
            </h4>
          <% end %>
          <% if @user.blank? && @tag_uid.present? %>
            <hr class="text-white">
            <h1 class="text-red">
              Student Identification Failed!
            </h1>
            <h4 class="text-white">
              Student Card UID is not yet registered.
            </h4>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $().ready(function() {
  	$(window).on("load", function() {
	    $("#tag_uid").val("");
      $("#tag_uid").focus();
	  });
	});
</script>
<script type="text/javascript">
  $("#tag_uid").on("blur", function (evt) {
    $("#tag_uid").focus();
  });
</script>
