
<% if @user.present? || @rfid_uid.present? %>
  <meta http-equiv="refresh" content="<%= @config.display_time %>;url=<%= monitoring_index_path %>" />
<% end %>
<div class="send-to-back">
	<%=form_tag monitoring_index_path, autocomplete: 'off', method: :get do %>
	  <div class="input-group stylish-input-group">
	    <%= number_field_tag "rfid_uid", params[:rfid_uid], class: 'unseen form-control', autofocus: true, autocomplete: 'off' %>
	    <span class="input-group-btn">
	      <%= button_tag(type: 'submit', name: nil, class: " unseen btn btn-flat") do %>
	        <i class="fa fa-search"></i>
	      <% end %>
	    </span>
	  </div>
	<% end %>
</div>

<div class="row">
  <br>
  <div class="col-md-5">
    <% if @user.blank? %>
      <%=image_tag("unknown-user.gif", class: "img-rounded img-responsive img-monitoring") %>
    <% else %>
      <% if @user.profile_photo.blank? %> 
        <%=image_tag("default.png", class: "img-rounded img-responsive img-monitoring", ) %>
      <% else %>
        <%= image_tag @user.profile_photo.avatar.url, class: "img-rounded img-responsive img-monitoring"%>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-7">
    <br>
    <div class="card-glass">
      <% if @user.present? %>
        <div class="card-body">
          <p class="text-white bottom-margin-zero" style="font-size: 28px;">
            <%= "You've #{@user.log_remark.titleize.downcase} @" %>
            <span style="font-size: 32px;">
              <%= "#{@user.log_time.strftime('%I:%M %p')}" %>
            </span>
          </p>
        </div>
        <hr class="zero-margin">
      <% end %>
      <div class="card-body">
        <% if @user.present? %>
          <% if !@user.record_status.nil? %>
            <h3 class="card-title bottom-margin-zero text-red">
              <b><%= @user.record_status.nil? ? '' : @user.record_status %></b>
            </h3>
          <% end %>
          <table class="">
            <tr>
              <td style="width:180px"><h3 class="card-title text-white">ID Number:</h3></td>
              <td><h3 class="card-title text-white"><b><%= @user.try(:id_number) || "N/A" %></b></h3></td>
            </tr>
            <tr>
              <td style="width:180px"><h3 class="card-title text-white">Name:</h3></td>
              <td><h3 class="card-title text-white"><b><%= @user.full_name || "N/A" %></b></h3></td>
            </tr>
            <tr>
              <% if @user.student? %>
                <td style="width:180px"><h3 class="card-title text-white">Course/Yr.:</h3></td>
                <td><h3 class="card-title text-white"><b><%= @user.course_and_year || "N/A" %></b></h3></td>
              <% elsif @user.employee? %>
                <td style="width:180px"><h3 class="card-title text-white">Position Title:</h3></td>
                <td><h3 class="card-title text-white"><b><%= @user.position_title || "N/A" %></b></h3></td>
              <% end %>
            </tr>
            <tr>
              <td style="width:180px"><h3 class="card-title text-white">Address:</h3></td>
              <td><h3 class="card-title text-white"><b><%= @user.try(:address_details) || "N/A" %></b></h3></td>
            </tr>
          </table>
        <% else %>
          <% if @rfid_uid.blank? %>
            <h1 class="text-white">
              Monitor Mode
            </h1>
            <h4 class="text-white">
              Scan ID Card.
            </h4>
          <% end %>
          <% if @user.blank? && @rfid_uid.present? %>
            <hr class="text-white">
            <h1 class="text-red">
              Identification Failed!
            </h1>
            <h4 class="text-white">
              Card UID is not yet registered.
            </h4>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $().ready(function() {
  	$(window).on("load", function() {
	    $("#rfid_uid").val("");
      $("#rfid_uid").focus();
	  });
	});
</script>
<script type="text/javascript">
  $("#rfid_uid").on("blur", function (evt) {
    $("#rfid_uid").focus();
  });
</script>
