<% if @user.present? %>
  <meta http-equiv="refresh" content="30;url=http://localhost:3000/monitoring/index" />
<% end %>
<div class="send-to-back">
	<%=form_tag monitoring_index_path, html: { autocomplete: 'off' }, method: :get do %>
	  <div class="input-group stylish-input-group" id="product-prefetch">
	    <%= number_field_tag "tag_uid", params[:tag_uid], class: 'unseen form-control', autofocus: true, autocomplete: 'off' %>
	    <span class="input-group-btn">
	      <%= button_tag(type: 'submit', name: nil, class: " unseen btn btn-flat") do %>
	        <i class="fa fa-search"></i>
	      <% end %>
	    </span>
	  </div>
	<% end %>
</div>

<div class="card-wrapper">
  <div class="card-content">
    <table class="">
      <tr>
        <td style="width:180px"><h3 class="text-white">ID Number:</h3></td>
        <td><h3 class="text-white"><%= @user.try(:id_number) || "N/A" %></h3></td>
      </tr>
      <tr>
        <td style="width:180px"><h3 class="text-white">Mobile:</h3></td>
        <td><h3 class="text-white"><%= @user.try(:mobile) || "N/A" %></h3></td>
      </tr>
      <tr>
        <td style="width:180px"><h3 class="text-white">Address:</h3></td>
        <td><h3 class="text-white"><%= @user.try(:address_details) || "N/A" %></h3></td>
      </tr>
    </table>
  </div>
</div>
<div class="monitoring-profile-wrapper">
  <% if @user.blank? %>
    <%=image_tag("unknown-user.gif", height: 600, width: 600, class: "img-glowing img-rounded img-responsive") %>
    <div class="monitoring-name-overlay">
      <h1 class="text-center text-red">
        No record found!
      </h1>
    </div>
  <% else %>
    <% if !@user.record_status.nil? %>
      <div class="monitoring-status-overlay">
        <h1 class="text-center text-red">
          <%= @user.record_status %>
        </h1>
      </div>
    <% end %>
    <% if @user.profile_photo.blank? %> 
      <%=image_tag("default.png", height: 600, width: 600, class: "img-rounded img-responsive center-block", ) %>
    <% else %>
      <%= image_tag @user.profile_photo.avatar.url, height: 600, width: 600, class: "img-rounded img-responsive center-block"%>
    <% end %>
    <div class="monitoring-name-overlay">
      <h1 class="text-center text-white no-bottom-margin"><b><%=@user.full_name.try(:upcase)%></b></h1>
      <h3 class="text-center text-white no-bottom-margin" style="margin-top: 10px"><%=@user.course.abbreviation%></h3>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $().ready(function() {
  	$(window).on("load", function() {
	    $("#tag_uid").val("");
      $("#tag_uid").focus();
	  });
	});
</script>
<script type="text/javascript">
  $("#tag_uid").on("blur", function (evt) {
    $("#tag_uid").focus();
  });
</script>
