<%=simple_form_for @user, url: @user.new_record? ? :users : user_path(@user) do |f| %>
  <%=f.error_notification %>
  <div class="row">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :mobile %>
          <%= f.input :email %>
          <%= f.input :role, input_html: { value: "admin" }, as: :hidden %>
          <hr>
          <% unless @user.new_record? %>
            <p class="text-muted">*Please enter your current password and password confirmation to apply the changes.</p>
            <p class="text-muted">- If you want to change password, type a new one.</p>
          <% end %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="pull-left">
      <%= link_to "Cancel", students_path, class: 'btn btn-default' %>
    </div>
    <%=f.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>