<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-2">
            <p></p>
              <% if @user.profile_photo.present? %>
                <%= image_tag @user.profile_photo, height: 100, width: 100, class: "img-rounded center-block"%>
              <% else %>
                <%=image_tag("default.png", height: 100, width: 100, class: "img-rounded center-block") %>
              <% end %>
            </div>
            <div class="col-md-5">
              <h4>
                <br>
                <%=@user.full_name.try(:upcase) %><br />
                <a href="#"><small></small></a>
              </h4>
              <h5>
                <i class="fa fa-list-alt"></i> Role: <%=@user.role.try(:titleize) %>
              </h5>
            </div>
            <div class="col-md-5">
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
      <div class="nav-tabs-navigation">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="<%='active' if current_page? info_user_path %>">
            <%= link_to 'Info', info_user_path %>
          </li>
          <!-- <li class="<#%='active' if current_page? activities_user_path %>">
            <%#= link_to 'Activities', activities_user_path %>
          </li> -->
        </ul>
      </div>
      <div class="content">
        <div id="my-tab-content" class="tab-content">
          <%= render '/users/partials/info' if current_page? info_user_path %>
          <%= render '/users/partials/activities' if current_page? activities_user_path %>
        </div>
      </div>
    </div>
  </div>
</div>
