<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<h4>Courses</h4>
						</div>
						<div class="col-md-6 col-sm-6">
							<%=link_to "Add Course", new_configs_course_path, class: 'btn btn-primary pull-right', title: 'New Course', data: {modal: true} %>
						</div>
					</div>
	      </div>
			</div>
			<div class="card-body">
				<table class="table">
					<% @courses.each do |course| %>
						<tr>
							<td><%= course.abbreviation %> - <%= course.name %></td>
							<td>
								<%= link_to edit_configs_course_path(course), data: {modal: true} do %>
									<span class="fa fa-pencil-square-o"></span>
								<% end %>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<div class="title">Display Time</div>
					<div class="description">Configure the time to display Student Profile in Monitor Mode.</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<h4 class="card-title no-top-margin"><%= @display_time.time.to_s + " Seconds" if @display_time.present? %></h4>
					</div>
					<div class="col-md-4 col-sm-4">
						<%=link_to "Set", @display_time.nil? ? new_configs_display_time_path : edit_configs_display_time_path(@display_time), class: 'btn btn-primary pull-right', title: 'Set Display Time', data: {modal: true} %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-8">
						<div class="card-title">
							<div class="title">Upload Student Records</div>
							<div class="description">Migrate student records from Excel File (xlsx).</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="pull-right card-action">
							<%=link_to "Download Template", student_template_reports_path(format: :xlsx), class: 'btn btn-success' %>	
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<%= form_tag upload_student_records_path, multipart: true do %>
					<div class="input-group stylish-input-group">
          	<%= file_field_tag :file, label: false, class: 'form-control' %>
          	<span class="input-group-btn">
	            <%= button_tag 'Import', id: 'import-students', class: 'form-control btn btn-primary' %>
	          </span>
	        </div>
        <% end %>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					<div class="title">Upload Profile Photos</div>
					<div class="description">Student profile photo can be updated using ID Number as filename for a photo. It also accepts multiple uploads.</div>
				</div>
			</div>
			<div class="card-body">
				<% if @students.present? %>
					<%= form_for ProfilePhoto.new, url: :upload_student_photos, html: { multipart: true } do |f| %>
	          <div class="input-group stylish-input-group">
	            <%= f.file_field :photo_arrays, multiple: true, id: "photo-arrays", class: 'form-control' %>
	            <span class="input-group-btn">
	              <%= f.submit 'Import', id: 'import-photos', class: 'form-control btn btn-primary' %>
	            </span>
	          </div>
	        <% end %>
	      <% end %>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<div class="card-title">
							<div class="title">Clear Student Records</div>
							<div class="description">Delete all student records.</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="pull-right card-action">
							<% if @students.present? %>
								<%= link_to "Perform", delete_all_student_records_path, class: "btn btn-danger", data: {confirm: "These action cannot be undone! Are you sure to delete all student records?"} %>
				      <% end %>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>	
<script type="text/javascript">
	$(document).ready(function(){
    $('#import-photos').prop('disabled',true);
    $('#photo-arrays').change(function(){
      $('#import-photos').prop('disabled', this.value == "" ? true : false);     
    })
	});
</script>

<script type="text/javascript">
	$(document).ready(function(){
    $('#import-students').prop('disabled',true);
    $('#file').change(function(){
      $('#import-students').prop('disabled', this.value == "" ? true : false);     
    })
	});
</script>	 
