<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="mainModalLabel">
    Update Course/Year Level
  </h4>
</div>
<%=simple_form_for @student, remote: request.xhr?, html: { autocomplete: "off", data: { modal: true } }, url: student_course_path(@student) do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <%= f.input :course_id, collection: Settings::Course.all.map {|c| [c.abbreviation, c.id]}, prompt: '-- Choose Course --' %>
      </div>
      <div class="col-md-6 col-xs-6">
        <%= f.input :year_level_id, collection: Settings::YearLevel.all.map {|c| [c.name, c.id]}, prompt: '-- Choose Year Level --' %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%=f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
