<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="flat-blue monitoring-bg" id="monitoring-body">
    <div class="monitoring-header">
      <h1 class="text-white"><span class="fa fa-desktop"></span> GatePass Monitoring
        <div class="pull-right">
          <% if user_signed_in? %>
            <%= link_to students_path, title: 'Home' do %>
              <span class="fa fa-home text-white"></span>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path, title: 'Sign-in' do %>
              <span class="fa fa-sign-in text-white"></span>
            <% end %>
          <% end %>
        </div>
      </h1>
    </div>
    <%= yield %>
  </body>
  <script type="text/javascript">
    $(function() {
      return $(".monitoring-header").on('show.bs.collapse', function() {
        return $(".monitoring-header .collapse").collapse('hide');
      });
    });
  </script>
</html>
